:root {
    --nav-link: rgba(0, 0, 0, 0.6);
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav a {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 0rem;
    text-decoration: none;
    color: var(--nav-link);
}